
<table >
    <th class="color text-center"></th>
    <th class="color text-center">0</th>
    <th class="color text-center ">1</th>
    <th class="color text-center">2</th>
    <th class="color text-center">3</th>
    <th class="color text-center">4</th>
    <th class="color text-center">5</th>
    <th class="color text-center">6</th>
    <th class="color text-center">7</th>
    <th class="color text-center">8</th>
    
  
    <tbody>
      <tr class="" *ngFor="let f of matriz; let fila = index">
        <th  class="color fondo">{{ fila }}</th>
  
        <td *ngFor="let c of matriz; let columna = index">
          <img class="imagen " [attr.src]="matriz[fila][columna]?.img" [alt]="matriz[fila][columna].nombre" /> {{ matriz[fila][columna].id }}
        </td>
      </tr>
    </tbody>
  </table>
  