table {
    
    border: outset rgb(216, 159, 105) 6px; 
    background: black; 
    }
    td {
    line-height: 0; 
    width: 55px; height: 45px; 
    background: rgb(216, 159, 105); 
    text-align: center; 
    vertical-align: middle; 
    }
.imagen{
    width: 30px;
}
.color{
    background: rgb(216, 159, 105);
    color: white;
}