<div class="container">
    <br>
<h2 class="text-center">Shogi</h2>
<p>El Shogi, o Ajedrez Japonés, 
    es un excelente y original juego creado en Japón. 
    Es pionera en emplear la regla de "reciclado" implementada también en el 
    Ajedrez Cíclico - las piezas capturadas pueden volver a ser reutilizadas en el tablero como piezas propias.
    </p>
    <b>Posición inicial y objetivo del juego</b>

<p>El Shogi se juega sobre un tablero de 9x9 casillas. Cada jugador empieza la partida con estas piezas 
    : un rey, una torre, un alfil, 2 generales de oro, 2 generales plateados, 
    2 caballos, 2 lanceros y 9 peones.</p>

   <b>Movimiento de las piezas</b>

<p>Todas las piezas en el Shogi emplean las mismas reglas para mover y capturar piezas enemigas. 
Las tres últimas filas desde la perspectiva de cada jugador se denominan zona de promoción y
cuando cualquier pieza (excepto los reyes y los generales de oro) las alcanzan, 
pueden ser transformados en la correspondiente pieza promocionada cuya capacidad de movimiento es mayor.</p>

<b>Rey: </b>   <img class="fichas" src="assets/Fichas/Rey.png" alt="">

<p>El rey mueve una casilla vertical, horizontal o diagonalmente. 
        Como en el ajedrez estándar, no se le permite hacer un movimiento 
        a una posición en la que sería amenazado por una pieza enemiga. 
        Si un rey está siendo atacado (está en jaque), el jugador correspondiente 
        debe neutralizarlo inmediatamente. Si esto no es posible, se pierde la partida.</p>

<b>General de Oro: </b>   <img class="fichas" src="assets/Fichas/G.oro.png" alt="">

<p>El general de oro mueve una casilla horizontalmente, 
    una casilla verticalmente o una diagonalmente hacia delante.
    </p>
    <b>General de Plateado: </b>   <img class="fichas" src="assets/Fichas/G.plata.png" alt="">

    <p>El general plateado mueve una casilla diagonalmente o 
        una casilla directamente de frente. Un general plata 
        al promocionar se convierte en general de oro
        </p>
 <b>Caballo: </b>   <img class="fichas" src="assets/Fichas/Caballo.png" alt="">

    <p>El caballo mueve una casilla recto hacia delante, seguido por una casilla diagonalmente hacia delante,
         puede saltar sobre casillas ocupadas.
         El caballo al promocionar se convierte en un general de oro.
      </p>
      <b>Lancero: </b>   <img class="fichas" src="assets/Fichas/Lancero.png" alt="">

      <p>El lancero mueve cualquier cantidad de espacios recto hacia delante. 
          Al promocionar se convierte en un general de oro.
        </p>
     <b>Alfil: </b>   <img class="fichas" src="assets/Fichas/Alfil.png" alt="">

      <p>El alfil mueve cualquier cantidad de espacios en diagonal.
           Al promocionar combina los movimientos del alfil y del rey.
         </p>
    <b>Torre: </b>   <img class="fichas" src="assets/Fichas/Torre.png" alt="">

    <p>a torre mueve cualquier cantidad de espacios vertical u horizontalmente. 
        Al promocionar combina los movimientos de la torre y del rey.
         </p>
  <b>Peon: </b>   <img class="fichas" src="assets/Fichas/Peon.png" alt="">

    <p>a torre mueve cualquier cantidad de espacios vertical u horizontalmente. 
             Al promocionar combina los movimientos de la torre y del rey.
   </p>     

<button class="btn btn-primary btn-block" routerLink="/home">Jugar</button>
<br>
<br>
</div>  